@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
}

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #000000;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #d80000e7;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

.cabecalho {
    padding: 1.4rem 9%;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cabecalho_menu_nome {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--cor-terciaria);
    transition: 0.3s ease-in-out;
}
.cabecalho_menu_nome:hover {
    transform: scale(1.2);
}
.nome_destaque {
    color: var(--cor-quartenaria);
    font-weight: 800;
}

.cabecalho_menu_paginas {
    display: flex;
    gap: 40px;
}
.cabecalho_menu_paginas_pagina {
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.cabecalho_menu_paginas_pagina:hover {
    color: var(--cor-quartenaria);
    border-bottom: 3px solid var(--cor-quartenaria);
}
#btn-menu{
    display: none;
}


@media (max-width: 700px) {
    .cabecalho_menu_paginas {
        display: none;
    }

    #btn-menu{
        all: unset;
        cursor: pointer;
        transition: .5s ease-out;
        color: var(--cor-terciaria);
        display: block;
    }

    #btn-menu:hover{
        transform: rotate(180deg);
        color: var(--cor-quartenaria);
    }
}


.home{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    /* padding: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-destaque{
    border-radius: 160px;
    width: 20%;
    height: 20%;
}

.home-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.home-conteudo-nome{
    font-family: "Eczar", serif;
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--cor-terciaria);
}
.home-nome-destaque{
    color: var(--cor-quartenaria);
}

.home-conteudo-animation{
    font-size: 2.2rem;
}
span{
    color: var(--cor-quartenaria);
}