@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
}

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #000000;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #d80000e7;

    --font-secundaria: "Eczar", serif;
}

.about{
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 25rem;
}

.about-img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img-destaque{
    border-radius: 50%;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 300px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção */
    box-shadow: 0 0 15px var(--cor-quartenaria);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}