@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
}

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #000000;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #d80000e7;

    --font-secundaria: "Eczar", serif;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

.cabecalho {
    padding: 1.4rem 9%;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cabecalho_menu_nome {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--cor-terciaria);
    transition: 0.3s ease-in-out;
}
.cabecalho_menu_nome:hover {
    transform: scale(1.2);
}
.nome_destaque {
    color: var(--cor-quartenaria);
    font-weight: 800;
}

.cabecalho_menu_paginas {
    display: flex;
    gap: 40px;
}
.cabecalho_menu_paginas_pagina {
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.cabecalho_menu_paginas_pagina:hover {
    color: var(--cor-quartenaria);
    border-bottom: 3px solid var(--cor-quartenaria);
}
#btn-menu{
    display: none;
}


@media (max-width: 700px) {
    .cabecalho_menu_paginas {
        display: none;
    }

    #btn-menu{
        all: unset;
        cursor: pointer;
        transition: .5s ease-out;
        color: var(--cor-terciaria);
        display: block;
    }

    #btn-menu:hover{
        transform: rotate(180deg);
        color: var(--cor-quartenaria);
    }
}


.home{
    min-height: 80vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img-destaque{
    border-radius: 50%;
    position: relative;
    top: 3rem;
    width: 17rem;
    height: 18rem;
    box-shadow: 0 0 30px var(--cor-quartenaria);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    object-fit: cover; /* Garante que a imagem mantenha sua proporção */

    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-img-destaque:hover{
    box-shadow: 0 0 40px var(--cor-quartenaria),
                0 0 80px var(--cor-quartenaria);
}

.home-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.home-conteudo-nome{
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 2.6rem;
    color: var(--cor-terciaria);
    margin-top: 1rem;
    line-height: 1;
}
.home-nome-destaque{
    font-family: var(--font-secundaria);
    color: var(--cor-quartenaria);
}

.home-conteudo-animation{
    font-family: var(--font-secundaria);
    font-size: 2rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    margin-bottom: 1rem;
}
span{
    color: var(--cor-quartenaria);
}

.home-conteudo-texto{
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.05rem;
    max-width: 1000px;
}

.home-conteudo-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.2rem solid var(--cor-quartenaria);
    font-size: 1.7rem;
    border-radius: 50%;
    color: var(--cor-quartenaria);
    margin: 1.5rem 0.5rem 1.7rem 1.2rem;
    transition: 0.3s ease-in-out;
}
.home-conteudo-social a:hover{
    transform: scale(1.2)translateY(-8px);
    background: var(--cor-quartenaria);
    color: var(--cor-terciaria);
    box-shadow: 0 0 50px var(--cor-quartenaria);
}

.home-conteudo-contrato{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    background: var(--cor-quartenaria);
    border-radius: 4rem;
    font-family: var(--font-secundaria);
    font-weight: 500;
    color: var(--cor-terciaria);
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    margin: 0rem 0rem 0rem 1.2rem;
}
.home-conteudo-contrato:hover{
    transform: scale(1)translateY(-3px);
    box-shadow: 0 0 25px var(--cor-quartenaria);
}
